.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 3.5rem 0.9rem  3.5rem;
}
.logo {
  svg {
    display: block;
    width: 20rem;
    height: auto;
  }
}
.loginBtn {
  svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}
.headerLeft, .btnContainer {
  width: 14rem;
  flex-shrink: 0;
}
