.container {
  padding: 7rem 0 5rem 26.4rem;
  background-color: #fff;

  .inner {
    padding: 0 7.5rem;
    position: relative;
  }
}
.title {
  font-size: 6.4rem;
  line-height: 7.8rem;
  color: #000000;
  font-weight: 700;
  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 5rem 0;
    .inner {
      padding: 0 0;
    }
    .more {
      padding: 0 3rem;
      margin-top: 2rem;
      width: fit-content;
      margin-left: auto;
      a {
        position: unset;
      }
    }
  }
  .title {
    font-size: 4rem;
    line-height: 130%;
    padding: 0 3rem;
  }
}
