.container {
  padding: 7rem 0 5rem 0;
  background-color: #fff;

  .showRoomSwiperInner {
    .black_text {
      font-size: 6.4rem;
      line-height: 7.8rem;
      color: #000000;
      font-weight: 700;
      margin-left: 26.4rem;
      margin-bottom: 4rem;
    }

    .swiper_container {
      position: relative;

      .swiperSlide {
        width: 24rem;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .sliderController {
        display: flex;
        justify-content: space-between;

        .prevBtn,
        .nextBtn {
          width: 4.5rem;
          height: 4.5rem;
          cursor: pointer;
        }
      }
    }
  }
}
