.container {
  display: flex;
  cursor: pointer;
}
.checkbox {
  width: 2rem;
  height: 2rem;
  border-radius: 0.8rem;
  border: 1px solid #ffffff66;
  background-color: #141414;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 2rem;
    height: 2rem;
  }
}
.text {
  font-size: 1.6rem;
  line-height: 130%;
  color: #fff;
  padding-left: 0.5rem;
  position: relative;
  top: 0.2rem;
}
.active {
  background-color: #9747ff;
}
