.swiper {
  padding: 6rem 8rem 3rem 8rem;
}

.card {
  &:hover {
    opacity: 1;
  }
}
.sliderController {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 14rem;
  left: 0;
  z-index: 10;

  .prevBtn {
    transform: rotate(180deg);
  }
  .prevBtn,
  .nextBtn {
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
  }
  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
