.empty_photo {
  box-sizing: border-box;
  width: 10rem;
  height: 10rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff66;
  font-size: 1.4rem;
  line-height: 130%;
}
