.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;

  &.short {
    width: calc(50% - 1rem);
    &.video {
      width: 100%;
      height: calc(50% - 1rem);
      margin-bottom: 2rem;

      .title {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .description {
      -webkit-line-clamp: 2;
    }
  }
  .back_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .gradient {
    position: absolute;
    height: 70%;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(25, 26, 31, 0) 0%, #191a1f 100%);
  }
  .shadow {
    background: rgba(25, 26, 31, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .anim {
    transition: 0.5s;
    transform: translateY(100%);
    position: absolute;
    left: 3rem;
    bottom: 10rem;
    width: calc(100% - 6rem);
    height: auto;
  }
  .title {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #ffffff;
    transition: 0.5s;
    transform: translateY(-100%);
    text-align: center;
  }
  .description {
    text-align: center;
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #ffffff;
    transition: 0.5s;
    transform: translateY(300%);
  }
  .info {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #ffffff;
  }
  .time_block {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    opacity: 1;
    transition: opacity 0.3s ease;
    svg {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
    }
    .time {
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: #ffffff;
    }
  }
  &:hover {
    .shadow {
      opacity: 1;
    }
    .anim {
      transform: translateY(0);
    }
    .title {
      transform: translateY(0);
    }
    .description {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-top: 2.5rem;

    &.long {
      padding-bottom: 75%;
    }

    .anim {
      transform: translateY(0);
      left: 1.5rem;
      bottom: 1.5rem;
    }
    .title {
      font-size: 2rem;
      line-height: 115%;
      color: #ffffff;
      transition: 0.5s;
      transform: translateY(0);
      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .description {
      -webkit-line-clamp: 2;
      transform: translateY(0);
      margin-top: 1rem;
      text-align: left;
    }
    .info {
      display: none;
    }

    &.short {
      width: calc(50% - 0.5rem);
      margin-right: 1rem;
      margin-top: 1rem;
      padding-bottom: calc(50% - 0.5rem);
      .anim {
        width: calc(100% - 2rem);
      }
      .title {
        font-size: 1.4rem;
        line-height: 115%;
      }
      .description {
        font-size: 1rem;
        line-height: 115%;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
