.mainContainer {
  display: flex;
  padding: 5.3rem 0 8.1rem 26.4rem;
  box-sizing: border-box;
  height: calc(100vh - 6rem);
  background: #000000;
}
.mainInner {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  background: #000000;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-left: 7.5rem;
  padding-top: 8.5rem;
  width: 100%;
  p {
    flex: 1 0 calc(100% - 57rem);
    max-width: calc(100% - 57rem);
    font-size: 1.8rem;
    line-height: 132%;
    color: #4b4b4b;
    font-weight: 400;
    margin: 0;
  }
  svg {
    width: 70%;
    margin-bottom: 2.8rem;
  }
}
.mainImgContainer {
  position: absolute;
  top: 0;
  right: 0;
  .shadow {
    background: linear-gradient(88.84deg, rgba(0, 0, 0, 0.56) 0.97%, rgba(0, 0, 0, 0) 104.89%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
  .mainImg {
    object-fit: cover;
    width: 51.6rem;
    height: 100%;
  }
  .tattooImg {
    position: absolute;
    bottom: -10rem;
    right: 25rem;
    width: auto;
    height: 70%;
  }
}

@media screen and (max-width: 768px) {
  .mainContainer {
    padding: 0;
    overflow: hidden;
    height: auto;
  }
  .mainInner {
    flex-direction: column-reverse;
    padding-top: 4rem;
  }
  .titleContainer {
    padding: 0 3.5rem;
    margin-top: -2rem;
    box-sizing: border-box;
    width: 100%;
    justify-content: flex-end;
    svg {
      width: 100%;
      margin-bottom: 1rem;
      max-width: 34rem;
    }
    p {
      flex: unset;
      max-width: 100%;
      font-size: 1.6rem;
      line-height: 130%;
    }
  }
  .mainImgContainer {
    position: relative;
    .shadow {
      width: 60%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
      right: 0;
      left: unset;
    }
    .mainImg {
      max-width: 60%;
      width: 100%;
      height: auto;
      margin-left: auto;
      display: block;
    }
    .tattooImg {
      bottom: unset;
      top: -6rem;
      right: 35%;
    }
  }
}
