.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;

  .product {
    width: calc(100% / 3 - 0.8rem);
    margin-right: 1rem;
    height: 0;
    padding-bottom: calc(100% / 3 - 0.8rem);
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
