.container {
  padding: 12rem 0 12rem 26.4rem;
  background: #000000;
}
.inner {
  padding: 0 7.5rem;
}

.links_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-top: 4rem;
}
.titleText {
  font-size: 6.4rem;
  line-height: 130%;
  color: #fff;
  font-weight: 700;
  margin-bottom: 5rem;
}

.separator {
  background: linear-gradient(90deg, #191a1f 0%, #959494 50.14%, #191a1f 96.61%);
  width: calc(100% - 10rem);
  margin: 2.5rem auto;
  height: 1px;
  display: none;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 5rem 3rem;
  }
  .inner {
    padding: 0 0;
  }
  .titleText {
    font-size: 4rem;
  }
}
