.newsContainer {
  padding: 12rem 0 12rem 26.4rem;
  background: #000000;
}
.newsInner {
  padding: 0 7.5rem;
}
.titleContainer {
  margin-bottom: 3rem;
  h1 {
    font-size: 3.2rem;
    line-height: 130%;
  }
}
.newsBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .newsContainer {
    padding: 2rem;
  }
  .newsInner {
    padding: 0 0;
  }
  .titleContainer {
    h1 {
      font-size: 2.4rem;
    }
  }
}
