.container {
  margin-left: 26.4rem;
  padding: 6rem 8.5rem 6rem;
}
.breadCrumbs {
  padding-bottom: 0.6rem;
}
.title {
  font-size: 6.4rem;
  line-height: 130%;
  color: #fff;
  margin: 0;
}
.back_btn {
  display: block;
  outline: none;
  background: transparent;
  border: none;
  padding: 1rem 0;
  margin-top: 4rem;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  svg {
    width: 3rem;
    height: auto;
  }
}
