.container {
  margin-left: 26.4rem;
  padding: 6rem 8.5rem 6rem;
}
.breadCrumbs {
  padding-bottom: 0.6rem;
}
.title_container {
  display: flex;
  justify-content: space-between;
}
.right_container {
  padding-top: 2.3rem;
  width: 100%;
  box-sizing: border-box;
  padding-left: 3rem;
  display: flex;
  justify-content: flex-end;
}
.title {
  font-size: 6.4rem;
  line-height: 130%;
  color: #fff;
  margin: 0;
  flex-shrink: 0;
  width: auto;
}
.back_btn {
  display: block;
  outline: none;
  background: transparent;
  border: none;
  padding: 1rem 0;
  margin-top: 4rem;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  svg {
    width: 3rem;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 0;
    padding: 4rem 2.5rem 6rem;
  }
  .title {
    font-size: 4rem;
  }
  .title_container {
    flex-direction: column;
  }
  .right_container {
    justify-content: flex-start;
    padding-left: 0;
  }
  .back_btn {
    margin-top: 1.5rem;
  }
}
