.search_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.4rem;
  line-height: 130%;
  color: #fff;
  width: calc(100% + 8rem);
  position: relative;
  top: -2.5rem;
  left: -5rem;
  cursor: pointer;
  padding: 2.5rem 3rem 2.5rem 5rem;
  &:hover {
    opacity: 0.7;
  }
  svg {
    width: 1.7rem;
    height: 1.7rem;
  }
}
