.search_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.4rem;
  line-height: 130%;
  color: #fff;
  width: 100%;
  cursor: pointer;
  padding: 0;
  svg {
    width: 1.7rem;
    height: 1.7rem;
  }
}
