.article_container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  .row_container {
    position: relative;
    width: 100%;
    padding-top: 70%;
    margin-bottom: 2rem;
    .row {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      .column {
        display: flex;
        flex-direction: column;
        &.long {
          width: calc(66.6% - 0.6rem);
        }
        &.short {
          width: calc(33.3% - 1.2rem);
        }
        .sub_row {
          width: 100%;
          height: calc(50% - 1rem);
          display: flex;
          justify-content: space-between;
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &.reverse {
      .row {
        flex-direction: row-reverse;

        .column {
          .sub_row {
            &:first-child {
              margin-bottom: 0;
            }
            &:last-child {
              margin-bottom: 2rem;
            }
          }
        }
      }
      .column {
        flex-direction: column-reverse;
      }
    }
  }
}
