.container {
  width: 100%;
  max-width: 23rem;
  > div {
    font-size: 1.6rem !important;
  }
}
.title {
  font-size: 1.3rem;
  color: #fff;
  line-height: 130%;
  margin-bottom: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  &:hover {
    -webkit-line-clamp: 5;
  }
}
