@import url('../../fonts/Montserrat/stylesheet.css');

html {
  font-size: 62.5%;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 62.5%;
}
input,
button,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::placeholder {
    color: #787878;
  }
}
p {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
a {
  color: #9747FF;
  text-decoration: none;
  &:hover {
    color: #a766fd;
  }
}

body {
  background-color: #000000;
  color: #ffffff;
  &.modal_opened {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@media screen and (min-width: 769px) {
  * {
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #000000;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #000000;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #bebebe;
    }
  }
}

@media (max-width: 1200px) {
  html,
  body {
    font-size: 53.5%;
  }
}
@media (max-width: 1000px) {
  html,
  body {
    font-size: 43.5%;
  }
}

@media (max-width: 768px) {
  html,
  body {
    // font-size: 53.5%;
    font-size: 62.5%;
  }
}

#nprogress .bar {
  background: #ffffff !important;
  height: 4px !important;
}
#nprogress .peg {
  box-shadow: none !important;
}
#nprogress .spinner {
  display: none !important;
}

.ReactModalPortal {
  position: relative;
  z-index: 100;
}
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  padding: 3rem 0;
  overflow: auto;
  .ReactModal__Content {
    transform: scale(0.6);
    transition: transform 300ms ease-in-out;
    margin: auto;
  }
}
.ReactModal__Body--open {
  overflow: hidden !important;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  .ReactModal__Content {
    transform: scale(1);
  }
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  .ReactModal__Content {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 768px) {
  .ReactModal__Overlay {
    .ReactModal__Content {
      transform: scale(1);
      transition: transform 300ms ease-in-out;
    }
  }
  .ReactModal__Overlay--after-open {
    opacity: 1;
    .ReactModal__Content {
      transform: scale(1);
    }
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
    .ReactModal__Content {
      transform: scale(1);
    }
  }
}
