.container {
  padding: 7rem 0 10rem 26.4rem;
  .partnersMainInner {
    padding: 0 7.5rem;
    .titleText {
      font-size: 6.4rem;
      line-height: 7.8rem;
      color: #fff;
      font-weight: 700;
      margin-bottom: 5rem;
    }
    .partnersMainContainer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 5rem 3rem;
    .partnersMainInner {
      padding: 0;
      .titleText {
        font-size: 4rem;
        line-height: 130%;
        margin-bottom: 3rem;
      }
    }
  }
}
