.newCard {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  color: #fff;
  &:hover {
    color: #fff;
    opacity: 0.7;
  }
  .newCardDate {
    font-size: 1.6rem;
    font-weight: 400;
    width: 8rem;
  }
  .newCardDescription {
    width: 100%;
    max-width: 75rem;
    h4 {
      font-size: 2rem;
      margin: 0;
      font-weight: 700;
    }
    p {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}
