.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.8rem;
  > a {
    margin-top: 1rem;
    margin-right: 1rem;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
